<!DOCTYPE html>

<!-- adapted from https://github.com/poole/hyde -->

<html lang="en-us">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

        <meta property="og:description" content="This course picks up where Harvard College's CS50 leaves off, diving more deeply into the design and implementation of web apps with Python, JavaScript, and SQL using frameworks like Flask, Django, and Bootstrap."/>
        <meta property="og:image" content="http://www.harvard.edu/sites/default/files/default_images/harvard-social1200.jpg"/>
        <meta property="og:title" content="Web Programming with Python and JavaScript"/>
        <meta property="og:url" content="https://cs50.github.io/web/"/>

        <link href="{{site.baseurl}}/favicon.ico" rel="icon"/>
        <link href="{{site.baseurl}}/css/poole.css" rel="stylesheet"/>
        <link href="{{site.baseurl}}/css/syntax.css" rel="stylesheet"/>
        <link href="{{site.baseurl}}/css/hyde.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700%7CAbril+Fatface" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="{{site.baseurl}}/css/styles.css" rel="stylesheet"/>

        <title>

                Announcements &middot; Web Programming with Python and JavaScript

        </title>

    </head>

    <body class="theme-base-0d">

        <div class="sidebar">
            <div class="container">
                <div class="sidebar-about">
                    <p class="lead">CSCI E-33a</p>
                    <h1>
                        <a href="index.html">Web Programming с Python и JavaScript</a>
                    </h1>
                    <p class="lead">подготовлено <a href="https://cs50.harvard.edu">CS50</a></p>
                    <p>
                        <a href="mailto:brian@cs.harvard.edu" style="color: inherit;">Brian Yu</a>
                        <br/>
                        <a href="mailto:malan@harvard.edu" style="color: inherit;">David J. Malan</a>
                    </p>
                    <p>
                        <a href="http://www.extension.harvard.edu/" style="color: inherit;">Гарвардская школа повышения квалификации</a>
                        <br/>
                        Весна 2018
                    </p>
                </div>

                <nav class="sidebar-nav">




                            <a class="sidebar-nav-item" href="{{site.baseurl}}/lectures.html">Лекции</a>




                            <a class="sidebar-nav-item" href="{{site.baseurl}}/projects/index.html">Проекты</a>




                            <a class="sidebar-nav-item" href="{{site.baseurl}}/sections.html">Секции</a>




                            <a class="sidebar-nav-item" href="{{site.baseurl}}/staff.html">Сотрудники</a>




                            <a class="sidebar-nav-item" href="{{site.baseurl}}/syllabus.html">Учебный план</a>



                </nav>

            </div>
        </div>

        <div class="content container">
            <div class="page">
                {{content}}
            </div>
        </div>

    </body>

</html>
